.auth-template {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 32px 1fr;
    grid-gap: 40px;
    align-items: center;
}

.auth-form {
    width: 320px;
}

.textfield {
    min-width: 320px;
    width: 320px;
}

.project-template-grid {
    grid-template-rows: 35px 1fr;
    grid-gap: 35px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #242424 inset !important;
    -webkit-text-fill-color: white;
}
